---
import { Image } from "@astrojs/image/components";
import prismic from "@prismicio/client";
const { slice } = Astro.props;
---
<section>
  <div class="image">
    {slice.items.filter(item => item.image && prismic.isFilled.image(item.image)).map((item) => {
      return (
        <Image src={item.image.url} width={item.image.dimensions.width} height={item.image.dimensions.height} alt={item.image.alt}/>
      )
    })}
  </div>
  <div class="content">
    <Fragment set:html={prismic.asHTML(slice.primary.heading)}/>
    <Fragment set:html={prismic.asHTML(slice.primary.subheading)}/>
    <Fragment set:html={prismic.asHTML(slice.primary.text)}/>
    <div class="buttons">
      {slice.items.map((button) => {
        return (
          <button><a href={prismic.asLink(button.button_link)}>{prismic.asText(button.button_text)}</a></button>
        )
      })}
    </div>
  </div>
</section>

<style>
  section {
    width: 92.5%;
    display: flex;
    padding: 2.5% 0 2.5% 7.5%;
    background: #ffffff;
  }

  section:nth-child(even) {
    background: #f5f5f5;
  }

  .content {
    width: 50%;
    margin-left: 5%;
  }

  .image {
    width: 40%;
    align-self: center;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .buttons {
    margin-top: 3.5vh;
  }

  button {
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right, #E99D23, #CB2027);
    padding: 2.5% 7.5%;
    font-size: 0.9rem;
  }

  button a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
  }

  button a:hover {
    text-decoration: underline;
  }
</style>